extends ../layouts/application.pug

block header
    div.text-center
        = t('views.tasks.edit.title')
block content
    div.w-50.mx-auto
        +formFor()(action=route('tasks/update', { id: task.id }) method='post')
            .d-none
                +input(task, 'creatorId', errors)(type='hidden')
            +input(task, 'name', errors)(type='text', required)
            +textarea(task, 'description')
            +select(task, 'status', statuses, 'name', errors)
            +select(task, 'executor', users, 'fullName', errors, t('views.tasks.new.nonExecutor'))
            +select(task, 'labels', labels, 'name', errors)(multiple=true)
            input(name='_method' type='hidden' value='patch')
            input.btn.btn-primary(type='submit' value=t('views.tasks.edit.save'))
