extends ../layouts/application.pug

block header
    div.text-center
        = t('views.tasks.new.title')
block content
    div.w-50.mx-auto
        +formFor()(action=route('tasks/create') method='post')
            .d-none
                +input(task, 'creatorId', errors, currentUserId)(type='hidden')
            +input(task, 'name', errors)(type='text', required)
            +textarea(task, 'description')
            +select(task, 'status', statuses, 'name', errors)
            +select(task, 'executor', users, 'fullName', errors, t('views.tasks.new.nonExecutor'),)
            +select(task, 'labels', labels, 'name', errors)(multiple=true)
            +submit(t('views.tasks.new.create'))
